.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  padding: .5em;
  
  background-color: rgba(0, 0, 0, 0.5);
  
  z-index: 3; 
  
  user-select: none;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ReactModal__Content {
  padding: .5em;
  
  background-color: #474747;
  color: #EAC56B;
  
  border-radius: 1em;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  
  z-index: 4; 
}

.settings__button {
  margin-right: 1em;
  padding: .3em;
  
  border-radius: 2em;
  background: #474747;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: linear 0.5s;
}

.settings__button:hover {
  text-decoration: none;
  background-color: #2F2F2F; 
    
  cursor: pointer
}

.settings__button:active{
  transform: scale(0.90);
}

.arrow-icon {
  display: inline;
  
  height: 0.6em;
  width: 0.7em;
  
  margin-left: 0.2em;
  
  transition: transform .4s ease;
}

.arrow-icon.open {
  transform: rotate(-90deg);
}

.slide-down {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease;
}

.slide-down.open {
  max-height: 15em; 
}

.paragraph__container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  cursor: pointer;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  
  cursor: pointer;
}

.hidden-checkbox {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none; 
  
  position: absolute;
}

.custom-checkbox__container {
  margin-left: .3em;
}

.custom-checkbox__container {
  width: 1em;
  height: 1em;
}

.custom-checkbox__container svg {
  width: 100%;
  height: 100%;
}

.custom-checkbox {
  transition: all 0.3s ease;
}

.custom-marker {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  transition: all 0.3s ease;
}

/* При нажатии на чекбокс, меняем стиль иконки */
.hidden-checkbox:checked + .custom-checkbox__container .custom-checkbox {
  stroke: transparent;
}

.hidden-checkbox:checked + .custom-checkbox__container .custom-marker {
  stroke-dashoffset: 0;
}

.paragraph__container .reset__button_container{
  margin-right: 0;
  margin-left: .5em;
}

.paragraph__container .counter__button{
  height: 2.5em;
  width: 2.5em;
}

.paragraph__container .reset__button{
  width: 20px;
  height: 20px;
}

.paragraph__container ul{
  margin: 0 0 0 .4em;
  padding: 0;
  
  font-size: 1.2em;

  list-style-type: none;
}