.report__section{
  padding: 4em .8em .2em;
  
  border-radius: 0px 0px 1.5em 1.5em;
  background: #2F2F2F;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.30);
  
  user-select: none;
}

.report__label{
  color:#F6F6F6
}

.report__input::placeholder {
  padding-left: .2em;
  
  color: #474747; 
  font-size: .8em; 
}

.report__input{
  all: unset;
  
  width: 9em;
  
  margin-left:.3em;
  
  border: none;
  border-bottom: 2px solid #474747; /* Цвет полосы по умолчанию */

  outline: none;
  
  transition: border-bottom-color 0.3s; /* Анимация изменения цвета */
}

.report__input:hover, :focus{
  border-bottom-color: #EAC56B;
  
  cursor: text;
}

.report__section .button__container{
  margin-top: 1em;
  
  justify-content: flex-start
}

.report__button{  
  padding: .5em;
  
  color:#EAC56B;
  
  border-radius: .6em;
  background: #474747;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50);
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  transition: linear 0.5s;
}

.report__button:hover {
  text-decoration: none;
  background-color: #2F2F2F; 
  
  cursor: pointer;
}

.report__button:active {
  transform: scale(0.80);
}

.report__button:disabled {
  opacity: 0.5; 
  
  pointer-events: none; 
  cursor: not-allowed; 
}

.custom-group{
  display: flex;
  flex-direction: column;
  
  margin-bottom: .5em
}

  .custom-group .report__input{
  margin-bottom: .3em;
  
  color: #F6F6F6;
  
  width: 50%;
}

.custom-group .report__button{
  display: flex;
  
  margin: 0.2em 0;
}