.sheet__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3.5em 0.5em 0.5em;

  border-radius: 0px 0px 1.5em 1.5em;
  background: #2f2f2f;
  box-shadow: 0px 10px 30px 0px #00000080;

  user-select: none;
  position: relative;
}

.sheet__input::placeholder {
  padding-left: 0.2em;

  color: #474747;
  font-size: 0.8em;
}

.sheet__input {
  all: unset;

  align-self: flex-start;

  width: 80%;

  margin: 0 0 0.5em 0.7em;

  border: none;
  border-bottom: 2px solid #474747;

  color: #f6f6f6;

  outline: none;

  transition: border-bottom-color 0.3s;
}

.sheet__input:hover,
:focus {
  border-bottom-color: #eac56b;

  cursor: text;
}

.sheet__iframe {
  width: 100%;

  border: none;
  border-radius: 1em;

  box-shadow: inset 1px 1px 2px 0px rgba(80, 80, 80, 0.3),
    inset -1px -1px 2px 0px rgba(62, 62, 62, 0.5), -3px 3px 6px 0px rgba(62, 62, 62, 0.2),
    3px -3px 6px 0px rgba(62, 62, 62, 0.2), -3px -3px 6px 0px rgba(80, 80, 80, 0.9),
    3px 3px 8px 0px rgba(62, 62, 62, 0.9);

  text-shadow: 5px 5px 10px #00000080;

  position: relative;
}

.iframe__resizer {
  position: absolute;

  right: 0;
  bottom: -0.8em;

  padding: 0.3em;

  width: 1em;
  height: 1em;

  cursor: n-resize;

  background-color: #474747;
  border-radius: 50%;
}

.list__section .inline {
  flex-direction: row;
  align-items: center;
}

.sheet__container .sheet {
  align-self: flex-start;

  flex-shrink: 0;
}
