.FP ul{
  margin: .4em 0;
  padding: 0;
  
  list-style-type: none;
  
  font-size: 1.5em;
}

.FP span{
  text-shadow: 5px 5px 10px #00000080;
}

.FP .list__container{
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  border-bottom: 2px solid transparent;
  
  transition: border-bottom 0.5s ease;
}

.FP .list__container:hover {
  border-bottom: 2px solid #707070; 
}

.copy__button{
  padding: .2em;
  
  border-radius: .6em;
  background: #474747;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50);
  
  display: flex;
  align-items: center;
  
  transition: linear 0.5s;
}

.copy__button:hover {
  text-decoration: none;
  background-color: #2F2F2F; 
    
  cursor: pointer;
}

.copy__button:active {
  transform: scale(0.80);
}

.copy__button svg{
  height: 20px;
  width: 20px;
}