section{
  margin: 0;
  padding: 0 1em;

}

.counter__section{
  padding: 2em 0 0;
  
  border-radius: 0px 0px 1.5em 1.5em;
  background: #2F2F2F;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.30);
  
  user-select: none;
}

.list__section{
  color: #EAC56B;
  font-size: 0.5em;
  font-weight: 600;
  line-height: 2em; 
  
  cursor: default
}

p{
  margin: 1em .5em .5em;
  
  font-size: 2em;
  
  user-select: none;
}

ol{
  margin:0 1.5em;
  padding: 0;
  
  font-size: 1.4em;
}

.list__section .counter__container{
  flex-direction: row;
  display: inline;
  justify-content: flex-start
}

.list__section .counter_value{
  display:inline;
  font-size: 1.5em;
}

.list__section .button__container{
  margin:0.5em 0;
  
  gap: 0.5em;
  
  display: flex;
  justify-content: flex-start;
}

.list__section .counter__button{
  width: 2em;
  height: 1.5em;
  
  border-radius: .6em;
  }
  
.list__section svg {
  height: 12px;
  width: 12px;
  }