.counter__section .DFP{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counters__container .DFP{
  justify-content: center;
}

.bottom_container{
  width: 100%;
  
  display:flex;
}