.useful__list {
margin: 4em .5em .5em;

  color: #F6F6F6; 
  }

@keyframes blink {
  0% { opacity: .2; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.useful__list ul{
  margin: 0;
  padding: 0;
  padding-left: .4em;
  
  list-style-type:none;
}
  
.useful__list li{
  margin: .3em 0;
  padding: 0;
  
  list-style-image: url('../../../public/images/ListMarker.svg');
}

.useful__list li::marker{
  animation: blink 2.5s infinite;
}

.useful__list .list__container{
  display: flex;
  align-items:center;
}

.useful__list span{
  word-break: break-all;
  word-wrap: break-word;
    
  text-shadow: 5px 5px 10px #00000080;
}

.useful__list h2{
  display: flex;
  justify-content: center;
  
  margin: .8em 0 .2em;
  
  color: #EAC56B;
  
  font-size: 1.3em;
}

.useful__list h3{
  margin: .3em 0;
  
  font-size: 1.1em;
}

.useful__list h4{
  margin: .3em 0;
    
  font-size: 1em;
}

.useful__list .copy__button{
  width: 1em;
  
  margin-left: .4em;
}

.useful__list a {
  text-decoration: none;
  
  color: inherit; 
  
  border-bottom: 2px solid transparent;
  
  transition: border-bottom 0.5s ease;
  
  cursor: pointer; 
}

.useful__list a:hover {
  border-bottom: 2px solid #EAC56B; 
}