/* Скрываем полосы прокрутки только для WebKit браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

body, header {
  
    box-sizing: border-box;
    width: 100vw;
    
    margin: 0;
    padding: 0;
    
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
      
    background-color: #474747;    
}

section{
  margin: 0;
  padding: 0 1em;

}

button{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Дополнительные стили, если нужно */
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

pre{
  width: 100%;
  color:#F6F6F6;
 
  font-size: .8em; 
  
  white-space: pre-wrap;
  word-wrap: break-word;
}

.counter__section{
  padding: 4em 0 0;
  
  border-radius: 0px 0px 1.5em 1.5em;
  background: #2F2F2F;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.30);
  
  user-select: none;
}

.list__section{
  color: #EAC56B;
  font-size: 0.5em;
  font-weight: 600;
  line-height: 2em; 
  
  cursor: default
}

.container__FP{
  width: 50%;
  height: 50%;
  
  font-size: 15px;
  font-weight: 400;
  
  color: #EAC56B;
  
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
}

.container__FP .button__container{
  gap: .5em;
}

.counter__container{
  font-weight: 400;
  
  font-size: 1em;
  
  color: #EAC56B;
  
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
}

